USE [QUANLYBANTHUOC]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 22/06/2015 14:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACHUCVU] [varchar](20) NOT NULL,
	[MOTA] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MACTHOADON] [varchar](50) NOT NULL,
	[SOHOADON] [varchar](50) NULL,
	[MATHUOC] [varchar](20) NULL,
	[MASOLO] [varchar](20) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[MACHITIETNHAP] [varchar](50) NOT NULL,
	[MAPHIEUNHAP] [varchar](50) NULL,
	[MATHUOC] [varchar](20) NULL,
	[LOSX] [varchar](20) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[HANSUDUNG] [varchar](15) NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK__CTPHIEUN__C95B63B058913934] PRIMARY KEY CLUSTERED 
(
	[MACHITIETNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONVITINH](
	[MADONVI] [varchar](20) NOT NULL,
	[MOTA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__DONVITIN__76A581ADC8E9C48C] PRIMARY KEY CLUSTERED 
(
	[MADONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHOADON] [varchar](50) NOT NULL,
	[MANHANVIEN] [varchar](20) NULL,
	[NGAYLAP] [varchar](15) NULL,
	[KHO] [varchar](15) NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [nchar](10) NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [nchar](11) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOTHUOC]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOTHUOC](
	[MAKHOTHUOC] [varchar](20) NOT NULL,
	[MATHUOC] [varchar](20) NULL,
	[MALOTHUOC] [varchar](20) NULL,
	[SOLUONG_DVQD1] [int] NULL,
	[DONGIA_DVQD1] [float] NULL,
	[SOLUONG_DVQD2] [int] NULL,
	[DONGIA_DVQD2] [float] NULL,
	[NGAYHETHANSD] [varchar](15) NULL,
	[THEODOIGIA] [varchar](500) NULL,
	[GIACAONHAT] [float] NULL,
	[GIATHAPNHAT] [float] NULL,
	[GIAHIENTAI] [float] NULL,
	[NGAYCAPNHATGIA] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOTHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAITHUOC]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITHUOC](
	[MALOAITHUOC] [varchar](20) NOT NULL,
	[MOTA] [nvarchar](50) NULL,
 CONSTRAINT [PK__LOAITHUO__FFBB6ED67214DCE6] PRIMARY KEY CLUSTERED 
(
	[MALOAITHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[GIOITINH] [bit] NULL,
	[SDT] [varchar](15) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MUCLUONG] [float] NULL,
	[MACHUCVU] [varchar](20) NULL,
	[TAIKHOAN] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NULL,
 CONSTRAINT [PK__NHANVIEN__7E46DD9149A0CEB1] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MACHUCVU] [varchar](20) NULL,
	[XEM] [bit] NOT NULL,
	[THEM] [bit] NOT NULL,
	[SUA] [bit] NOT NULL,
	[XOA] [bit] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[SOPHIEU] [nchar](10) NOT NULL,
	[SOHOADON] [nchar](10) NULL,
	[NGAYNHAP] [varchar](15) NULL,
	[KHO] [varchar](15) NULL,
	[MANHANVIEN] [nchar](10) NULL,
	[MANCC] [nchar](10) NULL,
	[TONGTIEN] [float] NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK__PHIEUNHA__0F2275AB597AAD64] PRIMARY KEY CLUSTERED 
(
	[SOPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THONGTINNHATHUOC]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THONGTINNHATHUOC](
	[TENCUAHANG] [nvarchar](50) NOT NULL,
	[NGUOICHIUTRACHNHIEM] [nvarchar](50) NULL,
	[MASOTHUE] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [varchar](30) NULL,
	[SDT] [varchar](20) NULL,
	[FAX] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TENCUAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 22/06/2015 14:45:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUOC](
	[MATHUOC] [varchar](20) NOT NULL,
	[TENTHUOC] [nvarchar](50) NULL,
	[MALOAITHUOC] [varchar](20) NULL,
	[DONVITINH] [varchar](20) NULL,
	[DONVIQUYDOI] [varchar](20) NULL,
	[TYLEQUYDOI] [int] NULL,
	[CACHSUDUNG] [nvarchar](100) NULL,
	[XUATXU] [nvarchar](100) NULL,
 CONSTRAINT [PK__THUOC__3C35A2517FCFEAAA] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHUCVU] ([MACHUCVU], [MOTA]) VALUES (N'CV01', N'Giám đốc')
INSERT [dbo].[CHUCVU] ([MACHUCVU], [MOTA]) VALUES (N'CV02', N'Nhân viên')
INSERT [dbo].[CTHOADON] ([MACTHOADON], [SOHOADON], [MATHUOC], [MASOLO], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'CTHD1', N'P1', N'T371', N'Lô 1', 12, 12, 144)
INSERT [dbo].[CTHOADON] ([MACTHOADON], [SOHOADON], [MATHUOC], [MASOLO], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'CTHD2', N'P1', N'', N'Lô 1', 12, 12, 144)
INSERT [dbo].[CTHOADON] ([MACTHOADON], [SOHOADON], [MATHUOC], [MASOLO], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'CTHD3', N'P21', N'T191', N'Lô 1', 12, 12, 144)
INSERT [dbo].[DONVITINH] ([MADONVI], [MOTA]) VALUES (N'DV01', N'VIEN')
INSERT [dbo].[DONVITINH] ([MADONVI], [MOTA]) VALUES (N'DV02', N'VI')
INSERT [dbo].[DONVITINH] ([MADONVI], [MOTA]) VALUES (N'DV03', N'HOP')
INSERT [dbo].[HOADON] ([SOHOADON], [MANHANVIEN], [NGAYLAP], [KHO], [TONGTIEN]) VALUES (N'P1', N'NV01', N'05/25/2015', N'Kho1', 288)
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [DIACHI], [DIENTHOAI]) VALUES (N'KH001     ', N'Nguyện', N'Nghệ An', N'032138232  ')
INSERT [dbo].[LOAITHUOC] ([MALOAITHUOC], [MOTA]) VALUES (N'LT01', N'XIT TAIMUIHONG')
INSERT [dbo].[LOAITHUOC] ([MALOAITHUOC], [MOTA]) VALUES (N'LT02', N'TIM MACH')
INSERT [dbo].[LOAITHUOC] ([MALOAITHUOC], [MOTA]) VALUES (N'LT03', N'TUAN HOAN NAO
')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC01', N'Toàn phát', N'Hà N?i', N'0000000000000')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC11', N'Hải Nam', N'Thành đô', N'4324324')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [DIACHI], [GIOITINH], [SDT], [EMAIL], [MUCLUONG], [MACHUCVU], [TAIKHOAN], [MATKHAU], [NGAYSINH]) VALUES (N'NV01', N'Vũ Tiến Dũng', N'Ninh Bình', 1, N'0976314655', N'vudung94nb@gmail.com', 10000, N'CV01', N'vudung94nb', N'12345', CAST(0x281C0B00 AS Date))
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [DIACHI], [GIOITINH], [SDT], [EMAIL], [MUCLUONG], [MACHUCVU], [TAIKHOAN], [MATKHAU], [NGAYSINH]) VALUES (N'NV21', N'Duong Lê Phúc Nguyện', N'Nghệ An', 0, N'23213213', N'nguyenduong994@gmail.com', 10012120000, N'CV02', N'nguyen', N'12345', CAST(0xFE390B00 AS Date))
INSERT [dbo].[THUOC] ([MATHUOC], [TENTHUOC], [MALOAITHUOC], [DONVITINH], [DONVIQUYDOI], [TYLEQUYDOI], [CACHSUDUNG], [XUATXU]) VALUES (N'T1', N'PROCTOLOG SUP.', N'LT03', N'DV03', N'DV01', 10, N'  --', N'PHAP')
INSERT [dbo].[THUOC] ([MATHUOC], [TENTHUOC], [MALOAITHUOC], [DONVITINH], [DONVIQUYDOI], [TYLEQUYDOI], [CACHSUDUNG], [XUATXU]) VALUES (N'T10', N'STUGERON', N'LT03', N'DV03', N'DV01', 250, N'  --', N'VIET NAM')
INSERT [dbo].[THUOC] ([MATHUOC], [TENTHUOC], [MALOAITHUOC], [DONVITINH], [DONVIQUYDOI], [TYLEQUYDOI], [CACHSUDUNG], [XUATXU]) VALUES (N'T100', N'TELSAR 40', N'LT02', N'DV03', N'DV01', 28, N'  --', N'AN DO')
GO
